:root {
    --primary: #138e00;
}

ul {
    list-style-type: none;
}

* {
    padding: 0;
    margin: 0;
}

.nav {
    background-color: var(--primary);
    width: 100%;
    position: fixed;
    z-index: 10;
}

#menu {
    display: none;
}

#menu li a {
    width: 100%;
    display: block;
    background-color: var(--primary);
    color: #000;
    font-size: 1.0em;
    padding: 1.5em 1.6em;
    transition: background 0.2s;
    text-decoration: none;
}

#menu li a:hover {
    background-color: #5689a0;
}

.hamburger-container {
    width: 38px;
    margin: 1.2em 1.6em;
    height: 30px;
    cursor: pointer;
}

.hamburger {
    display: block;
}

.hamburger li {
    height: 5px;
    background: black;
    content: '';
    position: relative;
    transition: 0.25s ease-in-out;
}

.hamburger li:nth-child(1) {
    top: 0;
}

.hamburger li:nth-child(2) {
    top: 5px;
}

.hamburger li:nth-child(3) {
    top: 10px;
}

.hidden {
    opacity: 0;
}

.rot45deg {
    transform: rotate(45deg);
    top: 10px !important;
}

.rot-45deg {
    transform: rotate(-45deg);
}

@media screen and (min-width: 2000px) {
    .hamburger-container {
        display: none;
    }

    .nav #menu {
        display: inline;
    }

    #menu li {
        display: inline-block;
        margin-right: -5px;
    }
}