@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;600&display=swap');

:root {
    --primary: #138e00;
    --primary-light: #138c00;
    --primary-dark: #0c5a00;

    --danger: #e50000;
    --danger-dark: #570000;

    --gray-1: #eee;
    --gray-2: #ccc;
    --gray-3: #515450;
    --gray-4: #0c1500;
    --gray-5: #021400;

    --shadow: 20px 20px 60px #dcdcdc,
        -20px -20px 60px #ffffff;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Sora';
}

nav {
    width: 100%!important;
    background-color: var(--primary-light);
}
.nav-link, .navbar-brand {
    color: white!important;
}
main {
    width: 80%;
    margin: auto;
}

label::after {
    content: " *";
    color: var(--danger);
}
.primary {
    color: var(--primary);
}
.container {
    padding: 30px;
    border-radius: 5px;
}
.box-shadow {
    box-shadow: var(--shadow);
}
form {
    margin: 20px 0;
    width: 100%;
}
.container-header>* {
    margin: 10px 0;
    text-align: center;
}

.container-header p {
    color: var(--gray-3);
    font-size: 14px;
}

/* General Button Styling */
.button, .btn-secondary {
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    text-transform: capitalize;
    background-color: var(--primary);
    border: none;
    font-family: 'Sora';
    border-radius: 4px;
    margin: 10px 0;
    cursor: pointer;
    color: #fff;
    transition: background-color 0.3s, transform 0.2s ease-in-out;
}

.btn-secondary {
    color: var(--gray-4);
    background-color: transparent;
    transition: 500ms;
    border: 1px solid var(--primary);
    text-decoration: none;
}
.btn-secondary:hover {
    background-color: var(--primary);
    color: white;
}

.button:hover {
    transform: scale(1.01);
    transition: 1s;
    background-color: var(--primary-dark);
    color: white;
}
.button:focus {
    transform: scale(0.9);
    transition: 1s;
}

/* Input Field Styling */
.input-field {
    width: 100%;
    margin: 8px 0;
    padding: 12px 18px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-family: 'Sora';
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
    box-shadow: 0 0 20px rgba(245, 255, 249, 0.7);
}

.input-field:focus {
    border-color: var(--primary-dark);
    outline: none;
}

/* Input Field Error Styling */
.input-field.error {
    border-color: var(--danger);
    background-color: #fce4e4;
}

.input-field.error:focus {
    border-color: var(--danger);
    background-color: #fff;
}

/* Label for Input Field */
.input-field-label {
    font-size: 16px;
    font-weight: normal;
    color: var(--gray-3);
    display: block;
}

.form-row {
    margin: 15px 0;
}
.form-label {
    margin: 0px!important;
}
.link {
    text-decoration: none;
    font-weight: 600;
    color: var(--primary);
}

#error-message {
    color: var(--danger);
    margin: 12px 0;
    font-weight: 500;
}

.err {
    border: 1px solid var(--danger);
}

.center {
    display: flex;
    justify-content: center;
}

.between {
    display: flex;
    justify-content: space-between;
}

.end {
    display: flex;
    justify-content: end;
}

i.d-none {
    display: none;
}

.fa {
    color: var(--primary);
}
.card {
    box-shadow: var(--shadow);
    text-align: center;
    border: none;
    border-radius: 8px;
}
.card-header {
    border-radius: 8px 8px 0 0;
    background-color: rgba(30, 228, 0, 0.4);
    font-size: 12px;
    color: var(--gray-3);
}

.avatar-container {
    width: 100%;
    padding: 0;
}
.avatar {
    width: 100%;
    height: 100;
    aspect-ratio: 1/1;
}
.number {
    color: var(--primary);
    font-size: 2em;
    font-weight: 700;
}
.title {
    margin-bottom: 6px;
}

p.card-text {
    line-height: 50px;
}

.user-photo {
    width: 200px;
    height: 200px;
    aspect-ratio: 1/1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    box-shadow: var(--shadow);
    cursor: pointer;
}